<div class="menu">
  <div class="left">
      <div id="dashboard" class="item" (click)="route('dashboard')">
          <div class="label-icon"><i class="fa fa-store-alt"></i></div>
          <div class="label-text">Dashboard</div>
      </div>
      <div id="proxies" class="item" (click)="route('proxies')">
          <div class="label-icon"><i class="fa fa-network-wired"></i></div>
          <div class="label-text">Proxies</div>
      </div>
  </div>
  <div class="right">
      <div id="profile" class="item etc" (click)="route('profile')">
          <div class="label-icon"><i class="fa fa-user"></i></div>
          <div class="label-text">Profiles</div>
      </div>
      <div id="settings" class="item etc" (click)="route('settings')">
          <div class="label-icon"><i class="fa fa-cogs"></i></div>
          <div class="label-text">Settings</div>
      </div>
  </div>
</div>